[Chip]

chipName=chipName

[Xml]
# true / false
xmlPathDefault=true
xmlPath=D:\Test\slaveboot-emmc.xml

[Local Config]
#COM1|COM2|/dev/ttyS0
comport=COM1
serialCommandTimeout=30
serverip=xxx.xxx.xxx.xxx

[Board Config]
ipaddr=xxx.xxx.xxx.xxx
netmask=xxx.xxx.xxx.x
gatewayip=xxx.xxx.xxx.x
udpport=5554
#ethaddr=xx:xx:xx:xx:xx:xx

#Set the frame communication time with the board Range of valid values 1~50
typeFrameFrequency=13

[TFTP]
# true / false
portConfigurable=false
port=69
tftpTimeout=3

[Socket]
# true / false
isSocket=false
serialServerIp=xxx.xxx.xx.xxx
serialServerPort=10029

[Transmission mode]
#mode=serial|net|NetNonNude|udp|UsbTransNet|JTAG|JTAGAndSerial|JTAGAndNet|USBBootrom|USBNonNude|USBAndSerial|I2CBootrom
#Tranmission mode for other partitions (The boot partition is downloaded by using the serial port.)
mode=net
#Burn with USB turn-over true | false
usbToEthernet=false
#usb serial number
usbSerialNumber=0x000001

#if you want to concurrent burning. set the USB device ID
usbDeviceNumber=-1

[JTAG Config]
# STBUSB2JTAG VER.B / VER.C Range of valid values 6M 6000 | 4M 4000 | 2M 2000 | 1M 1000
# STBUSB2JTAG VER.A Range of valid values 15M 15000 | 10M 10000 | 6M 6000 | 4M 4000 | 2M 2000 | 1M 1000
frequency=6000

[JTAG Setting]
# STBUSB2JTAG VER.B / VER.C 0 | STBUSB2JTAG VER.A 1
smallboardmodel=0

[I2C Setting]
# 1000K/900K/800K/700K/600K/500K/400K/300K/200K/100K/50K
baudRate=300K

[Programmer]
#Programmer file path is empty by default, when the need to configure the CA chip.
programmer=