[Common settings]
#true,false
open.debug=false
check.network=true

[Preferences TFTP setting]
tftp.speed=1024
tftp.losingpackage.enable=true
tftp.losingpackage.count=15
tftp.retry.count=5
tftp.timeout.noresponse=10
#filesize unit M
tftp.split.fileSize=32
tftp.crc.check=true
tftp.windowSize.open=true
tftp.windowSize.blockCount=3

[Preferences Command setting]
cmd.emmcWriteSpeed=3072
cmd.emmcDiskFormat=false
cmd.eraseBeforeBurn=false
cmd.ethact=Auto
#cmd.ethact value is Auto,0,1,2,3,4,5
cmd.i2c.baudrate=409600
cmd.i2c.deviceAddress=0x38
cmd.i2c.delay=50
cmd.i2c.timeout=60000
cmd.i2c.retry.count=30

[Preferences makeImage setting]
image.imageFill=0x00
image.openPinSaveMode=true